# EditorConfig is awesome: https://editorconfig.org

# This is a top-most EditorConfig file.
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.c]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
tab_width = 8

[*.sh]
indent_style = space
indent_size = 4
